*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family:montserrat;
}
nav{
    background-color: blue;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right:20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;    
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: Uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color:white;
    float:right;
    line-height: 80px;
    margin-right: 40px;
    cursor:pointer;
    display:none;
}
#check{
    display:none;
}
@media(max-width: 952px){
    label.logo{
    font-size: 30px;
    padding-left: 50px;
}
    nav ul li a{
        font-size:16px;
    } 
}
@media(max-width: 858px){
     .checkbtn{
        display: block;
}
    ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    }
nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px
}
nav ul li a{
    font-size 20px;
}
a:hover,a.active{
    background:none;
    color: #0082e6;
}
#check:checked ~ ul{
    left: 0;
}
}
  
/*section*/
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/background.png);
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: white;
    font-size: 100px;
}
.container p{
    color: antiquewhite;
    font-size: 11px;
}
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: white;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image:url(images/pic-1.png);
    background-position: center;
    background-size: cover;
    transform: transform 0.5s;
}
.card1{
      background-image:url(images/pic-1.png);
}
.card2{
      background-image:url(images/pic-2.png);
}
.card3{
      background-image:url(images/pic-3.png);
}
.card4{
      background-image:url(images/pic-4.png);
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color: white;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 5px #888;
    font-size: 8px;
}
/*media query for smaller devices*/
@media(max-width: 952px){
    .col{
        flex-basis: 100%;
    }
    h1{
    color: white;
    font-size: 45px;
}
    .card{
    width: 150px;
    height: 200px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transform: transform 0.5s;
    }
}
@media(max-width: 858px){
/*    background*/
    .container{
    width: 100vw;
    height: 1250px;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/background.png);
     background-repeat: no-repeat;
  background-size: 100% 100%;
}
    .row{
      flex-direction: column;
    }
    h1{
    color: white;
    font-size: 35px;
}
    .card{
    width: 150px;
    height: 230px;
    display: block;
    border-radius: 20px;
    padding: 15px 10px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 20px 45px;
    background-position: center;
    background-size: cover;
    transform: transform 0.5s;
    }
}

/*footer   */
.footer{
    width: 100%;
    padding: 100px 15%;
    display: flex;
    margin-top: 0px;
    background: #333;
    color: #efefef;
}
.footer div{
    text-align: center;
}
.col-2{
    flex-grow: 2;
}
.footer div h3{
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
.col-1 a{
    display: block;
    text-decoration: none;
    color: gold;
    margin-bottom: 10px;
}
form input{
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}
form button{
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
}
.social-icons{
margin-top: 30px;
}
.social-icons i{
font-size: 22px;
margin: 10px;
cursor: pointer;
}

@media(max-width: 858px){
.footer{  flex-direction: column;
    align-items: center;}
form input{
    width: 200px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
}
}
/*blog*/
.container1{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px; 8%;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.gallery img{
    width: 100%;
}
/*AboutUs*/
.hero1{
    background-color: #f8f8f8;
    overflow: hidden;
}
.heading h1{
    color: #ff6347;
    font-size: 55px;
    text-align: center;
    margin-top: 35px;
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 65px auto;
}
.hero-content{
    flex: 1; 
    width: 600px;
    margin: 0px 25px;
    animation: fadeInUp 2s ease;
}
.hero-content h2{
    font-size: 38px;
    margin-bottom: 20px;
    color: #333;
}
.hero-content p{
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #666;
}
.hero-content button{
    display: inline-block;
    background-color: #ff4500;
    color: #fff;
    padding: 12px 24px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
.hero-content button:hover{
    background-color: #ff6347;
    transform: scale(1.1)
}

.hero-img{
    flex: 1;
    width: 600px;
    margin: auto;
    animation: fadeInRight 2s ease;
}
img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
/*smaller screens*/
@media screen and (max-width: 768px){
    .heading h1{
        font-size: 45px;
        margin-top: 30px; 
    } 
    .hero{
        margin: 0px;
    }
    .container2{
        width: 100%;
        flex-direction: column;
        margin: 0px;
        padding: 0px 40px;
    }
    .hero-content{
        width: 100%;
        margin: 35px 0px;
    }
    .hero-content h2{
        font-size: 30px;
    }
    .hero-content p{
        font-size: 18px;
        margin-bottom: 20px;  
    }
    .hero-content button{
        font-size: 26px;
        padding: 0px 16px;
    }
    .hero-img{
        width: 100%;
    }
}
@keyframes fadeInUp{
    0%{
       opacity: 0;
        transform: translateY(50px);
        100%{
              opacity: 1;
        transform: translateY(0px);
        }
    }
}
@keyframes fadeInRight{
    0%{
       opacity: 0;
        transform: translateY(-50px);
        100%{
              opacity: 1;
        transform: translateX(0px);
        }
    }
}
/*services page*/
.main-text1{
    width: 300px;
    margin: 50px auto 0;
}
.main-text1 h2{
    margin-bottom: 20px;
}
.swiper {
  height: 350px;
}
.swiper-wrapper{
    align-items: center;
}
.swiper-slide{
    width: 200px;
    height: 250px;
    border-radius: 7px;
}
.swiper-slide img{
     width: 200px;
    height: 250px;
    border-radius: 7px;
}
.swiper-slide-active{
    transform: scale(1.2);
    transition: .4s;
}
.info{
    width: 100%;
    padding: 8px 0;
    background: rgba(0,0,0,0.6);
    position: absolute;
    bottom: inherit;
    text-align: justify;
    border-radius: 0 0 5px 5px;
}
.info h3{
    font-size: 15px;
    margin-left: 7px;
    font-weight: 100;
    color: #fff;
}
.info p{
    font-size: 18px;
    margin-left: 7px;
    color: #fff;
}
.info a{
    text-decoration: none;
    color: white;
    float: right;
    margin-right: 7px;
    margin-top: 10px;
    border: 1px solid #fff;
    border-radius: 20px;
    font-size: 10px;
    padding: 2px 8px;
}
.swiper-pagination{
    bottom: 0 !important;
}